*{
    margin: 0;
    padding: 0;
    border: 0;
}

main{
    border: 1px solid;
    display: flex;
    gap: .8rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

img{
    width: 30%;
    height: auto;;
}