/* Funções:
 - nome seguido de abre e fecha parentesis;
 - recebe argumentos;

 Exemplos:

 CSS
 @import url("http://urlaqui.com/style.css");

 {
    color: rgb(255,0,100);
    função = rgb 
    argumentos = (255,0,100)
    
    width: calc(100% - 10px);
    função = calc
    argumentos = (100% - 10px)
 } */