<!DOCTYPE html>
<%- include('../partials/head'); %>
<body class="container">
    <%- include('../partials/header') %>
    <main>
        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>Oi meu nome é Filipe e sou dev na Rocketseat!</p>
        </div>
    </main>
    <%- include('../partials/footer') %>
</body>
</html>